Repository MJU-ClassmanagementSystem/Client, pull requests merged in 2023-05, with the labels that each got.

#1 Feature/not found page
  src/components/layout/FullScreen/fullScreen.module.scss
  src/components/layout/FullScreen/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/NotFound/notFound.module.scss
Labels: BugFix, Html&Css, Setting

#3 Feature/sign in page
  package-lock.json
  package.json
  src/pages/SignIn/index.tsx
  src/pages/SignIn/signIn.module.scss
  src/types/reactHookForm.ts
Labels: API, Html&Css

#4 feat(signuppage): 예외처리 로직 추가
  src/pages/SignUp/index.tsx
Labels: Refactor

#5 feat(chart component): 차트 컴포넌트
  src/components/features/Chart/chart.module.scss
  src/components/features/Chart/index.tsx
Labels: API, Html&Css

#6 Feature/emotion chart
  src/App.tsx
  src/assets/svgs/board.svg
  src/assets/svgs/class.svg
  src/assets/svgs/graduation.svg
  src/assets/svgs/index.ts
  src/assets/svgs/student.svg
  src/components/features/Chart/chart.module.scss
  src/components/features/EmotionChart/index.tsx
  src/components/features/MenuButton/index.tsx
  src/components/features/MenuButton/menuButton.module.scss
  src/components/layout/MainLayout/index.tsx
  src/components/layout/MainLayout/mainLayout.module.scss
  src/components/layout/SideBar/index.tsx
  src/components/layout/SideBar/sideBar.module.scss
  src/pages/Main/index.tsx
  src/pages/ManageAttendance/index.tsx
  src/pages/ManageAttendance/main.module.scss
  src/pages/ManageClass/index.tsx
  src/pages/ManageClass/main.module.scss
  src/pages/ManageStudent/index.tsx
  src/pages/ManageStudent/main.module.scss
  src/routes/MainRoute.tsx
  src/types/custom.d.ts
  src/types/index.ts
  src/types/reactHookForm.ts
  tsconfig.json
Labels: API, Html&Css

#7 Feature/attendace table
  src/assets/svgs/arrowLeft.svg
  src/assets/svgs/arrowRight.svg
  src/assets/svgs/index.ts
  src/components/features/AttendanceTable/HeaderTitle/headerTitle.module.scss
  src/components/features/AttendanceTable/HeaderTitle/index.tsx
  src/components/features/AttendanceTable/RowTitle/index.tsx
  src/components/features/AttendanceTable/RowTitle/rowTitle.module.scss
  src/components/features/AttendanceTable/TableData/index.tsx
  src/components/features/AttendanceTable/TableData/tableData.module.scss
  src/components/features/AttendanceTable/TableHeader/index.tsx
  src/components/features/AttendanceTable/TableRow/index.tsx
  src/components/features/AttendanceTable/attendanceTable.module.scss
  src/components/features/AttendanceTable/index.tsx
  src/components/features/Button/button.module.scss
  src/components/features/Button/index.tsx
  src/components/features/MenuButton/index.tsx
  src/components/features/WeekNavigator/index.tsx
  src/components/features/WeekNavigator/weekNavigator.module.scss
  src/components/layout/Header/header.module.scss
  src/components/layout/Header/index.tsx
  src/components/layout/SideBar/index.tsx
  src/components/layout/SideBar/sideBar.module.scss
  src/components/shared/ErrorBoundary.tsx
  src/hooks/useThrowAsyncError.tsx
  src/mocks/handlers.ts
  src/pages/ManageAttendance/index.tsx
  src/pages/ManageAttendance/main.module.scss
  src/pages/ManageAttendance/manageAttendance.module.scss
  src/routes/MainRoute.tsx
  src/service/classManagement.ts
  src/styles/constants/_colors.scss
  src/styles/constants/_dimensions.scss
  src/types/axios.ts
  src/types/index.ts
  src/utils/week.ts
Labels: API, BugFix, Html&Css, Refactor

#8 Feature/student list
  src/assets/fonts/.gitkeep
  src/assets/images/.gitkeep
  src/assets/svgs/.gitkeep
  src/assets/svgs/arrowLeft.svg
  src/assets/svgs/arrowRight.svg
  src/assets/svgs/index.ts
  src/components/.gitkeep
  src/components/features/AttendanceTable/HeaderTitle/headerTitle.module.scss
  src/components/features/AttendanceTable/HeaderTitle/index.tsx
  src/components/features/AttendanceTable/RowTitle/index.tsx
  src/components/features/AttendanceTable/RowTitle/rowTitle.module.scss
  src/components/features/AttendanceTable/TableData/index.tsx
  src/components/features/AttendanceTable/TableData/tableData.module.scss
  src/components/features/AttendanceTable/TableHeader/index.tsx
  src/components/features/AttendanceTable/TableRow/index.tsx
  src/components/features/AttendanceTable/attendanceTable.module.scss
  src/components/features/AttendanceTable/index.tsx
  src/components/features/Button/button.module.scss
  src/components/features/Button/index.tsx
  src/components/features/EmotionChart/index.tsx
  src/components/features/MenuButton/index.tsx
  src/components/features/StudentList/index.tsx
  src/components/features/StudentList/student.module.scss
  src/components/features/WeekNavigator/index.tsx
  src/components/features/WeekNavigator/weekNavigator.module.scss
  src/components/layout/Header/header.module.scss
  src/components/layout/Header/index.tsx
  src/components/layout/SideBar/index.tsx
  src/components/layout/SideBar/sideBar.module.scss
  src/components/shared/ErrorBoundary.tsx
  src/hooks/useThrowAsyncError.tsx
  src/mocks/handlers.ts
  src/pages/ManageAttendance/index.tsx
  src/pages/ManageAttendance/main.module.scss
  src/pages/ManageAttendance/manageAttendance.module.scss
  src/pages/ManageClass/index.tsx
  src/pages/ManageClass/manageClass.module.scss
  src/pages/ManageStudent/index.tsx
  src/pages/ManageStudent/main.module.scss
  src/pages/ManageStudent/manageStudent.module.scss
  src/routes/.gitkeep
  src/routes/MainRoute.tsx
  src/service/.gitkeep
  src/service/classManagement.ts
  src/styles/constants/_colors.scss
  src/styles/constants/_dimensions.scss
  src/types/.gitkeep
  src/types/axios.ts
  src/types/index.ts
  src/utils/.gitkeep
  src/utils/week.ts
Labels: API, Html&Css

#9 Feature/main page
  package-lock.json
  package.json
  src/components/features/Chart/index.tsx
  src/mocks/faker.ts
  src/mocks/handlers.ts
  src/pages/ManageClass/index.tsx
  src/pages/ManageStudent/index.tsx
  src/routes/MainRoute.tsx
  src/service/classManagement.ts
  src/types/axios.ts
  src/types/faker.ts
  src/types/index.ts
  tsconfig.json
Labels: API

#10 feat(chartviewbutton): 버튼으로 페이지에서 볼 수 있는 차트 변경
  src/pages/ManageStudent/index.tsx
  src/pages/ManageStudent/manageStudent.module.scss
Labels: API, Html&Css

#12 Feature/modal
  index.html
  src/assets/svgs/alert.svg
  src/assets/svgs/index.ts
  src/components/features/Modal/index.tsx
  src/components/features/Modal/modal.module.scss
  src/components/features/WeekNavigator/index.tsx
  src/components/shared/Portal.tsx
  src/recoil/atom.ts
  src/routes/MainRoute.tsx
Labels: Html&Css

#13 Feat/welcome page
  src/assets/images/welcome.png
  src/assets/svgs/index.ts
  src/assets/svgs/logo.svg
  src/assets/svgs/subtract.svg
  src/components/features/LoginButton/index.tsx
  src/components/features/LoginButton/loginButton.module.scss
  src/pages/WelcomePage/index.tsx
  src/pages/WelcomePage/welcomePage.module.scss
Labels: Html&Css
